* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    height: 600px;
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content p {
    font-size: 20px;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 20px;
    background-color: #ff5e6c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff3c4a;
}

h2{
    font-size: 35px;
    /* position: absolute; */
}
.features {
    background-color: #f9f9f9;
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: space-around;
}

.feature {
    text-align: center;
    border: 2px solid black;
}

.feature img {
    width: 300px;
    height: 220px;
    margin-bottom: 20px;
    /* border: 5px solid red; */
    border-bottom: black 2px solid;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 20px;
}

p{
    font-size: 20px;
    /* color: brown; */
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
